*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:antiquewhite;
}
/*contenedor principal*/
.container{
    width: 100%;
}

/*Encbezado*/
header{
    background-color:brown;
    color:azure;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*NAV*/
nav{
    background-color:chocolate;
    padding: 10px 15px;
    border-radius: 15px;
}

nav ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 10px;
}

nav a{
    text-decoration: none;
    color: azure;
    padding: 5 px 10 px;
}

nav a:hover {
    background-color: brown;
    border-radius: 5px;
}