body{
    font-family:fantasy;
    margin: 0px;
    padding: 0px;
    background-color: rgb(248, 245, 238);
}

header{
    background-color: rgb(48, 68, 29);
    color: rgb(248, 245, 238);
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1{
    margin: 0px;
    padding-left: 25px;
}

nav ul{
    color: rgb(248, 245, 238);
    list-style-type: none;
    margin: 0px;
    padding-right: 25px;
}

nav ul li{
    color: rgb(248, 245, 238);
    display: inline;
    margin-right: 10px;
}

nav a{
    color:rgb(248, 245, 238);
}

section{
    padding: 20px;
    color: rgb(48, 68, 29);
    /*box-shadow: 0 2px 5px darkslateblue;
    border-radius: 25px;*/
    margin: 20px;
}

h2{
    color: rgb(48, 68, 29);
}

footer{
    background-color: rgb(48, 68, 29);
    padding: 10px;
}

footer p{
    color: rgb(248, 245, 238);
    text-align: center;
}

p{
    padding: 5px;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(48, 68, 29);
}